apiVersion: apps/v1
kind: Deployment
metadata:
  name: patients-db-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patients-db
  template:
    metadata:
      labels:
        app: patients-db
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: patients-db
          image: postgres:alpine
          env:
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: patients-config
                  key: PATIENTS_DB_USER
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: patients-config
                  key: PATIENTS_DB_NAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: patients-db-passwd-secret
                  key: PATIENTS_DB_USER_PASSWORD
          volumeMounts:
            - name: patients-db-data
              mountPath: /var/lib/postgresql/data
              subPath: patients
      volumes:
        - name: patients-db-data
          persistentVolumeClaim:
            claimName: patients-db-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: patients-db-srv
spec:
  type: ClusterIP
  selector:
    app: patients-db
  ports:
    - name: patients-db
      protocol: TCP
      port: 5432
      targetPort: 5432
