apiVersion: apps/v1
kind: Deployment
metadata:
  name: system-web-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: system-web
  template:
    metadata:
      labels:
        app: system-web
        system: panda
    spec:
      containers:
        - name: system-web
          # resources:
          #   requests:
          #     memory: "256Mi"
          #     cpu: "50m"
          #   limits:
          #     memory: "1024Mi"
          #     cpu: "300m"
          image: insidedocker/system-web
---
apiVersion: v1
kind: Service
metadata:
  name: system-web-srv
spec:
  type: ClusterIP
  selector:
    app: system-web
  ports:
    - name: system-web
      protocol: TCP
      port: 3000
      targetPort: 3000
